.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2a3e51;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Parent-section {
  background-color: cadetblue;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid;
  box-shadow: 5px 5px 5px darkslategray;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Child-section {
  background-color: darkcyan;
  text-align: center;
  color: floralwhite;
  padding: 10px;
  margin: 5px;
  border-radius: 30px;
  border: 1px solid;
  box-shadow: 2px 2px 2px gray;
}

.Data-section {
  color: #2a3e51;
  box-decoration-break: initial;
  border: solid 1 px whitesmoke;
}

.App-link {
  color: #0e1c20;
  text-decoration: none;
  background: linear-gradient(to top left, rgb(42, 97, 143) 0%, rgb(8, 25, 119) 100%);
  border-radius: 10px;
  padding: 10px;
  border: solid 2px #081316;
  box-shadow: 5px 5px 5px royalblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
